* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    height: 15%;
    background-image: linear-gradient(25deg,#2F4D74, #1FB1D6);
    width: 100%;
    color: whitesmoke;
}

.search-container {
    background-color: #3A3F41;
    height: 100vh;
}

#current-weather {
    max-height: 40vh;
}
#forcast-container {
    max-height: 50vh;
}
#titleContainer img {
    max-width: 5%;
}

.searchHistory {
    background-color: #1FB1D6;
    font-size: 18px;
}

/* Five Day Forcast Cards */
.forcast {
    background-image: linear-gradient(25deg,#2F4D74, #1FB1D6);
}